#root {
  max-width: 1200px;
  min-width: 800px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: grey;
  border-radius: 10px 10px 0 0;
  line-height: 80px;
  height: 80px;
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input_area {
  display: flex;
  border-bottom: 1px solid white;
  height: 60px;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
}
form button {
  position: absolute;
  right: calc(25%);
}
.submit_input {
  width: 60%;
  display: flex;
  margin-left: 18%;
}
.title {
  margin-right: 20px;
}

.sub_title {
  display: flex;
  justify-content: start;
}
.ongoing_container,
.done_container {
  display: flex;
  height: 260px;
}
.todo_card {
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
  margin: 1%;
}
.todo_card h2 {
  border-bottom: 1px solid white;
  margin: 0;
  height: 40px;
}
.todo_card h3 {
  height: 150px;
  margin: 0;
}
.todo_button {
  margin: 0;
  display: flex;
  justify-content: space-around;
}
